@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,800');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800');

$base-light: #4C545C;
$base: #3E444C;
$base-dark: #32383E;
$base-darker: #272B30;

$blue: #5BC0DE;
$green: #62C462;
$orange: #FF6347;

@mixin container() {
  max-width: 1024px;
  margin: auto;
}

@mixin badge() {
  font-size: 14px;
  padding: 6px;
  border-radius: 5px;
  background-color: $base-light;
  display: inline-block;
}

@mixin sunken-well($pad: 10px) {
  padding: $pad;
  background: #272B30;
  border: 1px solid #32383E;
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

// Loaders

$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}

.-loading {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;

  .loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;

    &.--double {
      border-style: double;
      border-width: .5rem;
    }
  }

  .loading-pulse {
    position: relative;
    width: ($base-line-height / 4);
    height: $base-line-height;
    background: $off-white;
    animation: pulse $pulse-duration infinite;
    animation-delay: ($pulse-duration / 3);

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: ($base-line-height / 1.5);
      width: ($base-line-height / 4);
      background: $off-white;
      top: 50%;
      transform: translateY(-50%);
      animation: pulse $pulse-duration infinite;
    }

    &:before {
      left: -($base-line-height / 2);
    }

    &:after {
      left: ($base-line-height / 2);
      animation-delay: ($pulse-duration / 1.5);
    }
  }
}

// End Loaders
