.container.-show {
  background-color: rgba($base-darker, .9);
  min-height: 400px;
}

.details {
  display: flex;
  background-color: rgba($base-dark, .8);

  @media #{$mobile} {
    flex-direction: column;
  }

  .poster {
    max-width: 342px;
    max-height: 513px;

    @media #{$mobile} {
      max-width: calc(342px / 2);
      max-height: calc(513px / 2);
      width: auto;
      height: auto;
      margin: auto;
    }
  }

  .details-content {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .show-header {
      display: flex;
      flex-direction: column;

      .buttons {
        .fa:hover {
          color: $orange;
          transition: .20s
        }
      }

      .title {
        display: flex;
        align-items: center;

        .name {
          font-size: 42px;
          font-weight: bold;
        }
        .year {
          font-size: 32px;
          margin-left: 10px;
          color: rgba(white, .5);
        }

        @media #{$mobile} {
          .name {
            font-size: 24px;
            font-weight: bold;
          }
          .year {
            font-size: 26px;
            margin-left: 10px;
            color: rgba(white, .5);
          }
        }
      }
    }

    .overview {
      margin-top: auto;
      .header {
        font-weight: 300;
        font-size: 24px;
      }

      .body {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;

        &.-well {
          @include sunken-well();
        }
      }
    }

    .next-up {
      @include sunken-well(20px);
      margin-top: auto;
      display: inline-table;

      @media #{$mobile} {
        margin: 10px auto;
      }

      .action {
        font-size: 18px;
      }

      .episode-title {
        color: $orange;
      }

      .time {
        font-size: 24px;
        text-align: center;
      }

      &.-loading {
        height: 90px;
        width: 200px;
      }
    }

    .genres {
      margin-top: auto;

      .header {
        margin-bottom: 5px;
        font-weight: bold;
      }

      .genre {
        @include badge();
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

.details-extra {
  min-height: 240px;
  padding: 30px;
  display: flex;
  justify-content: space-between;

  @media #{$mobile} {
    flex-direction: column;

    .extra {
      margin-bottom: 10px;
    }
  }

  .extra {
    display: flex;
    flex-direction: column;

    .detail {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        padding-bottom: 16px;
      }
    }
  }

  .cast {
    max-width: 645px;
    text-align: center;

    .cast-header {
      font-size: 22px;
    }

    .cast-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        min-width: 200px;

        .character {
          font-weight: bold;
        }

        .actor .social {
          margin-top: 3px;
          .fa {
            margin: 0 4px;
          }
          .fa:hover {
            color: $orange;
            transition: .20s;
          }
        }
      }
    }
  }
}

.similar {
  background-color: $base-dark;
}
