.container.-show {
  background-color: rgba($base-darker, .9);
}

.details {
  display: flex;
  background-color: $base-dark;

  .poster {
    width: 342px;
  }

  .details-content {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .show-header {
      display: flex;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;

        .name {
          font-size: 42px;
          font-weight: bold;
        }
        .year {
          font-size: 32px;
          margin-left: 10px;
          color: rgba(white, .5);
        }
      }
    }

    .overview {
      margin-top: auto;
      .header {
        font-weight: medium;
        font-size: 24px;
      }

      .body {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;

        &.-well {
          @include sunken-well();
        }
      }
    }

    .next-up {
      @include sunken-well(20px);
      margin-top: auto;
      display: inline-table;

      .action {
        font-size: 18px;
      }

      .episode-title {
        color: $orange;
      }

      .time {
        font-size: 24px;
        text-align: center;
      }

      &.-loading {
        height: 90px;
        width: 200px;
      }
    }

    .genres {
      margin-top: auto;

      .header {
        margin-bottom: 5px;
        font-weight: bold;
      }

      .genre {
        @include badge();
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

.similar {
  background-color: $base-dark;
}
