.search {
  max-width: 624px;
  margin: auto;
  margin-top: 150px;

  input {
    background-color: rgba($base-dark, .9);
    box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.50);
    border: 2px solid white;
    border-radius: 4px;
    font-size: 36px;
    letter-spacing: 1.5px;
    text-align: center;
    height: 72px;
    width: 100%;

    &:focus {
      border-color: $blue;
    }
  }
}

.results-list {
  list-style: none;
  font-size: 16px;
  margin-top: 10px;

  .result {
    background-color: rgba($base-dark, .9);
    border: 1px solid rgba(0,0,0,0.50);
    border-bottom: none;
    height: 42px;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;

    &:hover, &:focus, &.-selected {
      border: 1px solid $blue !important;
    }

    &:first-child {
      border-radius: 4px 4px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 0px 4px 4px;
      border: 1px solid rgba(0,0,0,0.50);
    }

    .name {
      flex-grow: 1;
    }

    .date {
      color: $green;

      &.-ended {
        color: $orange;
      }
    }
  }
}
